<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST" th:action=@{/user/save}>
        <div>
            <input type="hidden" th:field="${user.id}">
            <input placeholder="user email" th:field="${user.email}">
            <input placeholder="user password" th:field="${user.password}">
            <button type="submit">Entry Data</button>
        </div>
    </form>
</body>
</html>