<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST" th:action=@{/position/save}>
        <div>
            <input th:field="${position.id}">
            <input placeholder="position name" th:field="${position.name}">
            <input placeholder="position level" th:field="${position.level}">
            <button type="submit">Entry Data</button>
        </div>
    </form>
</body>
</html>