<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST" th:action=@{/salary/save}>
        <div>
            <input type="hidden" th:field="${salary.id}">
            <input placeholder="base salary" th:field="${salary.baseSalary}">
            <input placeholder="bonus" th:field="${salary.bonus}">
            <button type="submit">Entry Data</button>
        </div>
    </form>
</body>
</html>